<div id="bottom">
    <div id="bottom-navs">
        <a class="footer-nav" href="/">Home</a>
        <span class="bottom-seperator">|</span>
        <a class="footer-nav" href="/people">People</a>
        <span class="bottom-seperator">|</span>
        <a class="footer-nav" href="/academics">Academics</a>
        <span class="bottom-seperator">|</span>
        <a class="footer-nav" href="/events">Events</a>
    </div>
    <div id="footer">
        <div id="footer-text-container">
            <p class="footer-text">
                For general inquiries, <a class="footer-text" href="mailto:rdi@berkeley.edu">reach us by
                    email.</a>
            </p>
            <p class="footer-text">
                © UC Regents 2021.
            </p>
        </div>
    </div>
</div>