<!-- <div style="height: 50px; width: 100%; background-color: #003262; position:absolute;">
    <div class="constraint" style="color: white; font-size: 2rem;">
        <a href="https://berkeley.edu/" style="text-decoration: none;">
            <img src="/assets/images/ucbseal_139_540.png" style="height: 40px; margin: 5px; margin-right: 0;">
            <img src="/assets/images/Berkeley_wordmark_white_no_uc.png" style="height: 40px; margin-left: -10px;">
        </a>
    </div>
</div> -->
<div class="constraint">
    <div id="header">
        <div id="logo-container" style="padding: 2rem;">
            <a href="/">
                <img src="/assets/images/Berkeley Center for RDI Logo.png" id="logo">
            </a>
        </div>
        <div id="nav-container">
            <div id="nav-links" style="font-size: 11pt; vertical-align: middle;">
                <a href="/" class="nav-url">
                    Home
                </a>
                <span class="seperator">|</span>
                <a href="/people" class="nav-url">
                    People
                </a>
                <span class="seperator">|</span>
                <a href="/academics" class="nav-url">
                    Academics
                </a>
                <span class="seperator">|</span>
                <a href="/events" class="nav-url">
                    Events
                </a>
                <span class="seperator">|</span>
                <!--                 
                <a href="/internships" class="nav-url">
                    Internships
                </a>
                <span class="seperator">|</span>
                -->
                <a href="https://twitter.com/BerkeleyRDI?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @BerkeleyRDI</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
