@charset 'UTF-8';

body {
  margin: 0;
  background:#ffffff no-repeat right top;
  background-size: 100%;
  font-family: 'Poppins', sans-serif;
}

h2, h3 {
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}

.constraint {
  margin-left: 10vw;
  margin-right: 10vw;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
}

#logo-container {
  width: 35%;
  display: flex;
  flex-direction: column-reverse;
}

#logo {
  width: 100%;
}

#nav-container {
  width: auto;
  margin-left: auto;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}

#nav-image-container {
  position: relative;
  top: 5px;
  width: 100%;
  height: 10px;
  z-index: 99;
}

#nav-image {
  z-index: 100;
  width: 100%;
  height: 100%;
}

#header-image {
  height: auto;
}

#nav-links {
  margin-top: auto;
  margin-bottom: 15px;
}

.nav-url {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 600;
  text-decoration: none;
  color: #222222;
}

.seperator {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 16pt;
}

.slide-image-container {
  overflow: hidden;
  width: 100%;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image {
  min-height: 100%;
  min-width: 100%;
}

#main-text-container {
  margin-left: 9vw;
  margin-right: 9vw;
}

.main-text {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 300;
  font-size: 12pt;
}

#affiliated-container {
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 60px;
}

#affiliated-title {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 20px;
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
}

#affiliated-images-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
}
.affiliated-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  align-self: stretch;
  text-decoration: none;
  padding: 5px;
}
.affiliated {
  margin: auto;
  width: 100%;
}

#footer {
  background:#ffffff url("/assets/images/footer-image.png") no-repeat;
  margin-left: -10vw;
  margin-right: -10vw;
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-size: 12pt;
  text-decoration: none;
  color: #666666;
}

.footer-text {
  text-align: center;
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 300;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#bottom-navs {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.bottom-seperator {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  font-size: 16pt;
  color: #75a384;
}

#faculty-container {
  background-color: #f8f8f6;
  margin-top: -29px;
  margin-left: -10vw;
  margin-right: -10vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.faculty-list {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

.faculty {
  width: 200px;
  height: 320px;
  text-align: center;
  margin: 40px;
}

.circular {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
  -webkit-border-radius: 125px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 125px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  float: left;
  background-size: cover;
  background-position: center center;
}

.faculty-caption {
  padding-top: 10px;
  margin-top: 125px;
}

.faculty-text {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-size: 18pt;
  text-decoration: none;
  color: #666666;
}

.faculty-title {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 400;
  font-size: 26pt;
  color: #666666;
  padding-top: 40px;
  padding-bottom: 20px;
}

.our-button {
  -webkit-font-smoothing: antialiased;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.event-button-wrapper {
  text-align: center;
}

.event-button {
	display: inline-block;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0.85rem 4rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #FFC164;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.event-tag {
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
}

.event-button:hover {
	opacity: 0.85;
}

.event-button:hover, .event-button:active, .event-button:focus, .event-button:visited {
  text-decoration: none;
  color: #fff;
}

.event-link, .event-link:link, .event-link:visited {
  text-decoration: none!important;
  color: #fff;
}

.event-a {
  color: #003262;
  text-decoration: none!important;
}

.event-a:hover {
  color: #003262;
  text-decoration: underline!important;
}

.schedule-container {
  margin: 0.67em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-hero {
  font-size: 1.4rem; 
  text-align: left; 
  width: 80%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-hero-container {
  margin-top: 25px;
  min-height: 400px;
  height: 50vh;
  margin-left: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
}

.home-hero-container h1 {
  margin: 0;
}

.sponsor-container {
  display: flex; 
  justify-content: space-between;
}

.sponsor-img {
  height: 10vw; 
  max-height: 130px; 
  width: auto;
}

.sponsor-text {
  text-align: center; 
  margin-top: 10px; 
  font-weight: 700; 
  width: 10vw; 
  max-width: 130px;
}

.sponsor-text-wide {
  width: 14vw !important; 
  max-width: 170px !important;
}


@media (max-width: 768px) {
  .schedule-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .home-hero {
    font-size: 1rem; 
  }
  .constraint {
    margin-left: 0;
    margin-right: 0;
  }
  .home-hero-container {
    margin-top: 0;
    border-radius: 0;
  }
  .sponsor-container {
    flex-direction: column;
    align-items: center;
  }
  .sponsor-img {
    height: 25vw; 
    width: auto !important;
  }
  /* .sponsor-text {
    text-align: center; 
    margin-top: 10px; 
    font-weight: 700; 
    width: 100% !important; 
    max-width: 100% !important;
    margin-bottom: 35px;
  } */
}

#joinBtn {
  position: sticky;
  position: -webkit-sticky;
  width: 140px;
  left: 92%;
  bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#mailList {
  width: 60px;
  height: 60px;
  opacity: 0.8;
}

#mailList:hover + #toolTip {
  visibility: visible;
}

#toolTip {
  position: relative;
  visibility: hidden;
  display: block;
  top: 5px;
  background-color: #7bc5e565;
  color: black;
  border-radius: 6px;
  padding: 2px;
  z-index: 1;
}

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(162, 162, 162);
  opacity: 0.6;
}

#subscribe {
  position: fixed;
  top: 5%;
  left: 50%;
  max-height: 90%;
  margin-left: -300px; 
  color:#003262;
  overflow: scroll;
}

#mc-embedded-subscribe {
  background-color: #d88200 !important;
}

#mc-embedded-subscribe:hover {
  background-color:#003262 !important;
}

#formclose {
  position: relative;
  background-color: white;
  color: grey;
  border: none;
  width: 30px;
  height: 30px;
  top: 0;
  left: 100%;
  margin-left: -20px;
}

#formclose:hover {
  color: #003262;
}

.event-a {
  color: #003262;
  text-decoration: none!important;
}

.event-a:hover {
  color: #003262;
  text-decoration: underline!important;
}
