---
layout: default
---


<div class='home-hero-container' style='background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../cesc/assets/images/uc_berkeley_sunset.jpg");
background-position: center;'>
        <div class='home-hero'>
            <img src='../cesc/assets/images/cesc-logo.png' style="height: 45px; width: auto;"></img>
            <!-- <img src='../cesc/assets/images/rdi-logo-new.png' style="height: 45px; width: auto; margin-left: 20px;"></img> -->
            <h1 style="font-weight: 400;">Crypto Economics Security Conference</h1>
            <h1>CESC 2022</h1>
    </div>
</div>

<div id="main-text-container" style="font-size: 12pt; font-family: 'Poppins', sans-serif; font-weight: 300; margin-bottom: 40px;">
    {{ content }}
</div>
